[Variables]
SwitchInterval
How often to switch Widgets (minutes)
Slider:1:45

PicturesFolder
Location of your pictures folder
Browse:Folder

#
#Some settings are in their respective Standalone Widgets
[Options]
Colorizable=0